
*{
	margin: 0;
	padding: 0;
}
body {
  	font-family: Monaco, Consolas, "Lucida Console", monospace;
	background:#e6e6fa;
}
a{
	text-decoration: none;
	color: #fff;
}
ul li {

  font-family: sans-serif;
  font-size: 18px;
}
.menu-fixo  {
    position:fixed !important;
    top: 0;
    z-index: 99;
}
.Fonte{
	font-family: 'Audiowide', cursive;
}
.Cabecalho{

	background: #24252A;
	width: 100%;
	height:  170px;
	padding: 15px 0;
	color: #fff;
	text-align: center;
}
#Logo{
	margin-top: 50px;
	width: auto;
	height: 100px;
}
#MeuLogo {
  
  top: -83px;
  left: -125px;
  position: relative;
}


.Centro{
	text-align: center;
}
.Menu_main{

	
	width:100%;
	background-color: #1C1917;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin: 0px;
	transition: max-height 0.5s;

}


nav ul li{

	display: inline-block;
	padding: 17px;
	margin-right: 15px;
}

nav ul li a{

	-webkit-transition: all 300ms ease;
    transition: all 300ms ease;
	text-decoration: none;
	color: inherit;
}
nav ul li a:hover{
	color: #E52329;
}
.esquerda {float: left;}
.direita {float: right;}
.fonte{
	color: black;
}

/* Underline From Left */
.Sublinha {

	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.Sublinha:before {

	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #E52329;
	height: 3px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.Sublinha:hover:before, .Sublinha:focus:before, .Sublinha:active:before {
  right: 0;
}
.circle img{

	border-radius:100%;
  	border:10px solid #E52329;
  	width:100px;
  	height:100px;
  	background-color:purple;
}
/*Divs*/

.Pagina{

	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 5px 5px rgba(1,0,0,0.1);
	margin:  30px auto 0px auto;
	padding: 10px;
	margin-top: 80px;
	border-radius: 9px;
	width: 1000px;
}

.Corpo_Central{

	color: black;
	background-color: #fff;
	width: 643px;
	padding: 10px;
	margin: 10px;
}
.Corpo_Central h2{
	text-align: center;
	margin: 10px;
}
#container {
    width: 100%;
    border-color: blue;
    text-align: center;
}
.Canais a{
	color: black;
}
.Canais a:hover{
	color: #E52329;
}
.Canais h2{
	margin: 20px;
}
.Canais h3{
	margin-top: 20px;
}
.box {
    display: inline-block;
    width: 300px; height: 150px;
    margin: 10px 0px;
}
.post{

  	margin-left: -10px;
  	margin-top:  -10px;
	color: #9FE12D;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: #1C1917;
	width: 675px;
	height: 30px;
	padding: 5px;
}
.Conteudo_Lateral{

	margin-top:  -10px;
	margin-right: -10px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: #9FE12D;
	background: #1C1917;
	padding: 5px;
	text-align: center;
	width: 320px;
	height: 30px;
}

.Barra_Lateral2{

	width: 300px;
	margin: 5px;
	padding: 5px;
	color: #1C1917;
	height: auto;
}

.Barra_Lateral2 nav ul li{
	-webkit-transition: all 300ms ease;
  	transition: all 300ms ease;
	text-align: center;
	display: block;
	border-bottom: 1px solid #E6E6E6;
}
.Barra_Lateral2 nav ul li a:hover{
	color: #E52329;
}
#EnviarNews form{
	height: 275px;
    border-radius: 5px;
    padding: 20px;

}
/**/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/**/
.Rodape{

  	width: 100%;
  	height: 400px;
  	background-color: #373941;
	text-align: center;
	color: #fff;
	border-top: 6px solid #E52329;
}
.Rodape .by{
	background-color: #24252A;
	width: 100%;
	text-align: center;
	height: 60px;
}
.Rodape .by p{
	margin: 5px;
	padding: 5px;
	font-size: 14px;
}

.Link{

 	text-decoration:none;
 	color: #E52329;
}

/*Hover dos tituloss, sem links*/

.Titulo{
	-webkit-transition: all 300ms ease;
  	transition: all 300ms ease;
	color: none;
}
.Titulo:hover{
	color: white;
}

footer h1{
	margin: 25px;

}
.MenuFooter{
	margin: 25px;
}



/*Voltar ao Topo*/
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}
svg {
  display: block;
  margin: auto;
}

path {
  stroke: #000;
  stroke-width: 10px;
  stroke-dasharray: 853;
  animation: 6s draw forwards;
}

@keyframes draw {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 853;
  }
  70% {
    fill-opacity: 0;
    stroke: #000;
  }

  100% {
    fill-opacity: .9;
    stroke-dashoffset: 0;
    stroke: none;
  }
}


/*Lista Relacionados*/
.gallery {
    border: 2px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.gallery{
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
