* {
margin : 0;
padding : 0;
}
body {
font-family : Monaco, Consolas, "Lucida Console", monospace;
background : #e6e6fa;
}
a {
text-decoration : none;
color : #fff;
}
ul li {
font-family : sans-serif;
font-size : 18px;
}
.menu-fixo {
position : fixed !important ;
top : 0;
z-index : 99;
}
.Cabecalho {
background : #24252A;
width : 100%;
height : 170px;
padding : 15px 0;
color : #fff;
text-align : center;
}
#Logo {
margin-top : 50px;
width : auto;
height : 100px;
}
.Video {
width : 80%;
}
.Menu_main {
width : 100%;
background-color : #1C1917;
color : #fff;
padding : 0;
text-align : center;
margin : 0;
transition : max-height 0.5s;
}
nav ul li {
display : inline-block;
padding : 17px;
margin-right : 15px;
}
nav ul li a {
transition : all 300ms ease;
text-decoration : none;
color : inherit;
}
nav ul li a:hover {
color : #E52329;
}
.esquerda {
float : left;
}
.direita {
float : right;
}
.Tudo {
margin-left : 50px;
margin-top : 50px;
}
.Sublinha {
display : inline-block;
vertical-align : middle;
transform : perspective(1px) translateZ(0);
box-shadow : 0 0 1px transparent;
position : relative;
overflow : hidden;
}
.Sublinha:before {
content : "";
position : absolute;
z-index : -1;
left : 0;
right : 100%;
bottom : 0;
background : #E52329;
height : 3px;
transition-property : right;
transition-duration : 0.3s;
transition-timing-function : ease-out;
}
.Sublinha:hover:before, .Sublinha:focus:before, .Sublinha:active:before {
right : 0;
}
.circle img {
border-radius : 100%;
border : #E52329 solid 10px;
width : 100px;
height : 100px;
background-color : purple;
}
.Pagina {
border-radius : 12px;
background-color : white;
box-shadow : 0 5px 5px rgba(1, 0, 0, 0.1);
margin : 30px auto 0 auto;
padding : 10px;
margin-top : 80px;
border-radius : 9px;
width : 1000px;
}
.Corpo_Central {
border-width : 2px;
border-style : dashed;
border-color : #C0C0C0;
color : black;
background-color : #fff;
width : auto;
}
.Navegacao {
box-shadow : 0 5px 5px rgba(1, 0, 0, 0.3);
margin : 30px auto 0 auto;
color : #9FE12D;
background : black;
border-radius : 12px;
width : 660px;
height : 25px;
padding : 5px;
}
.post {
margin-left : -10px;
margin-top : -10px;
color : #9FE12D;
border-top-left-radius : 9px;
border-top-right-radius : 9px;
background : #1C1917;
width : 101%;
height : 30px;
padding : 5px;
}
.Rodape {
width : 100%;
height : 400px;
background-color : #373941;
text-align : center;
color : #fff;
border-top : 6px solid #E52329;
}
.Rodape .by {
background-color : #24252A;
width : 100%;
text-align : center;
height : 60px;
}
.Rodape .by p {
margin : 5px;
padding : 5px;
font-size : 14px;
}
.Link {
text-decoration : none;
color : #E52329;
}
a[href="#top"] {
padding : 10px;
position : fixed;
top : 90%;
right : 40px;
display : none;
font-size : 30px;
}
a[href="#top"]:hover {
text-decoration : none;
}
.Titulo {
transition : all 300ms ease;
}
.Titulo:hover {
color : white;
}
a[href="#top"] {
padding : 10px;
position : fixed;
top : 90%;
right : 40px;
display : none;
font-size : 30px;
}
a[href="#top"]:hover {
text-decoration : none;
}
#MeuLogo {
top : -83px;
left : -125px;
position : relative;
}
svg {
display : block;
margin : auto;
}
path {
animation : draw 6s forwards;
}
@keyframes draw {
0% {
animation : draw 6s forwards;
}
70% {
animation : draw 6s forwards;
}
100% {
animation : draw 6s forwards;
}
}
.gallery {
border : #ccc solid 1px;
float : left;
width : 245px;
padding : 10px;
margin-left : 20px;
}
.gallery:hover {
border : #777 solid 1px;
}
.gallery img {
width : 100%;
height : auto;
}
.desc {
padding : 15px;
text-align : center;
}
.Desafios {
width : auto;
margin-right : 65px;
margin-left : 69px;
border-radius : 9px;
border : #ccc solid 1px;
margin-top : 410px;
padding : 40px;
height : 115px;
}