
*{
	margin: 0;
	padding: 0;
}
body {
  	font-family: Monaco, Consolas, "Lucida Console", monospace;
	background:#e6e6fa;
}
a{

	text-decoration: none;
	color: #fff;
}
ul li {

  font-family: sans-serif;
  font-size: 18px;
}
.menu-fixo  {
    position:fixed !important;
    top: 0;
    z-index: 99;
}

.Cabecalho{

	background: #24252A;
	width: 100%;
	height:  170px;
	padding: 15px 0;
	color: #fff;
	text-align: center;
}
#Logo{
	margin-top: 50px;
	width: auto;
	height: 100px;
}
.Video{

	width: 80%;
}
.Menu_main{

	
	width:100%;
	background-color: #1C1917;
	height: 60px;
	color: #fff;
	padding: 0px;
	text-align: center;
	margin: 0px;
	transition: max-height 0.5s;

}

nav ul li{

	display: inline-block;
	padding: 20px;
}

nav ul li a{

	-webkit-transition: all 300ms ease;
  transition: all 300ms ease;
	text-decoration: none;
	color: inherit;
}
nav ul li a:hover{
	color: #E52329;
}
.esquerda {float: left;}
.direita {float: right;}
.fonte{
	color: black;
}
.menu-icon{

	width: 100%;
	background: #005c48;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: #fff;
	display: none;
	text-align: right;
}

@media (max-width: 580px){
	nav ul{
		max-height: 0px;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	.menu-icon{
		display: block;
	}
}

/* Underline From Left */
.Sublinha {

	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.Sublinha:before {

	content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #E52329;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.Sublinha:hover:before, .Sublinha:focus:before, .Sublinha:active:before {
  right: 0;
}
.circle img{

	border-radius:100%;
  border:10px solid #E52329;
  width:100px;
  height:100px;
  background-color:purple;
}
/*Divs*/

.Pagina{

	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 5px 5px rgba(1,0,0,0.1);
	margin:  30px auto 0px auto;
	padding: 10px;
	margin-top: 80px;
	border-radius: 9px;
	width: 1000px;
}

.Corpo_Central{

	border-width: 2px;
	border-style: dashed;
	border-color: #C0C0C0;
	color: black;
	background-color: #fff;
	width: auto;
	padding: 5px;
	margin: 5px;
}
.Navegacao{

	box-shadow: 0px 5px 5px rgba(1,0,0,0.3);
	margin:  30px auto 0px auto;
	color: #9FE12D;
	background: black;
	border-radius: 12px;
	width: 660px;
	height: 25px;
	padding: 5px;
}
.post{

	border-width: medium;
    border-style: solid;
    border-color: #E5E5E5;
	margin:  5px;
	color: #9FE12D;
	background: #1C1917;
	width: auto;
	height: 30px;
	padding: 5px;
}
.Conteudo_Lateral{

	border-width: medium;
    border-style: solid;
    border-color: #E5E5E5;
	margin:  5px;
	color: #9FE12D;
	background: #1C1917;
	padding: 5px;
	text-align: center;
	width: 300px;
	height: 30px;
}


.Rodape{
  	width: 100%;
  	height: 400px;
  	background-color: #373941;
	text-align: center;
	color: #fff;
	border-top: 6px solid #E52329;
}
.Rodape .by{
	background-color: #24252A;
	width: 100%;
	text-align: center;
	height: 60px;
}
.Rodape .by p{
	margin: 5px;
	padding: 5px;
	font-size: 14px;
}

.Link{

 	text-decoration:none;
 	color: #E52329;
}

/*Voltar ao topo*/
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}


/*Hover dos tituloss, sem links*/

.Titulo{
	-webkit-transition: all 300ms ease;
  transition: all 300ms ease;
	color: none;
}
.Titulo:hover{
	color: white;
}
/*Voltar ao topo*/
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}

